# ==============================
# ВИЖУ — переменные окружения
# cp .env.example .env и заполнить
# ==============================

#креды от гигачата
GIGACHAT_CREDENTIALS=рандомныйнаборбуквицифр

#имя папки на яндекс облаке и апи-ключ
YANDEX_FOLDER_ID=рандомныйнаборбуквицифр
YANDEX_API_KEY=рандомныйнаборбуквицифр

#овнер репки для ci-cd
GHCP_OWNER=юзернеймгитхаба

#апи-ключ для смс-центра
SMSC_API_KEY=uuid

#пароль от бд в постгресе
POSTGRES_PASSWORD=рандомныйнаборбуквицифр

#подпись jwt
JWT_SECRET=рандомныйнаборбуквицифр

#апи-ключ системы webrtc и ее секрет
LIVEKIT_API_KEY=рандомныйнаборбуквицифр
LIVEKIT_API_SECRET=рандомныйнаборбуквицифр

#выбор способа работы матчинга - через Map или через Redis
MATCHING_BACKEND=memory|redis
